body{
    background-color: black;
    color: white ;
    background-image: url("https://i.pinimg.com/originals/80/eb/15/80eb15b74b0e953de799f32cb26a8c61.gif");
    background-repeat:  repeat;
    font-family: 'Courier New', Courier, monospace;
}

p{
    line-height: 0.5;
}

.noBreak{
    font-size: 1.3em;
    margin: 10% 40% 10% 40%;
}

em{
    margin-left: 300px ;
}

strong{
    margin-right: -300px;
}

.brain{
    font-size: 3em;
}

h1{
    margin: 2%;
}

h2{
    margin: 0 10%;
}

h3{
    margin: 3%;
}

h4{
    margin: 0 10%;
}

.corridor1{
    height: 300px ;
    margin-left: 10%;
    margin-top: -80%;
}

.corridor2{
    height: 100px ;
    margin-top: 3%;
    margin-left: 20%;
}


.corridor3{
    height: 200px ;
    margin-left: 80%;
    margin-top: -10%;
}

.little{
    font-size: 0.2em;
    line-height: 1.2;
    letter-spacing: 5em;
}